.vault_pass.txt
.ansible
artifacts
logs/

cac/.senha.txt
cac/artifacts/*
cac/logs/ansible-navigator.log

playbooks_antigos_test/artifacts/*
logs/ansible-navigator.log
playbooks_antigos_test/artifacts/ansible_artifact.jsonl
.pass

.ansible
fcreate/

artifacts/
logs/

ansible.cfg
playbooks_antigos_test/variaveis/controller_settings.yml

playbooks_antigos_test/.pass
oldv2/
